html{
    height: 100%
}

p{
    color: black;
    font-family: "microsoft yahei";
    font-weight: bold;
    left: -10px;
    
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    background-color: white ;
    overflow: hidden;
}
 .container{
     margin:auto;
     width: 452px;
     height: 100%;
     overflow: hidden;
     position: relative;
 }
 
 .logo{
     width:40%;
     font-size: 70px;
     font-weight: bold;
     color: #d13100;
     float: left;
     position: relative;
 }
 .scoreBar{
     width: 50%;
     float:right;
     background: #fff;
     color: #111;
     padding:10px;
     position: relative;
     margin-top:10px;
 }
.scoreBar:before{
    content: "";
    display: block;
    border-width: 20px;
        border-color: transparent #fff transparent transparent ;
    border-style: solid;
    position: absolute;
    top:50%;
    left:-40px;
    margin-top:-20px;
}
 #score{
     font-size: 50px;
 }
 
 #addScore{
     position: absolute;
     bottom: 0px;
     font-size: 30px;
     color:#999;
     opacity: .8;
     top:4px;
     right: 0;
 }
#addScore.show{
    opacity: .8; 
}
#addScore.hide{
    opacity: 0;
}

#stage{
    background: #c7b69f;
    cursor: pointer;
    position: absolute;
    width: 450px;
    height: 450px;
    top:50%;
    left:0;
    margin-top: -200px;
    border: 1px solid #eee;
    z-index: 1;
}

#undo{
    position: relative;
    z-index: 990;
}

.cover{
    position: fixed;
    width: 100%;
    height: 100%;
        z-index: 999;
    opacity: 0.1;
    cursor: pointer;
}

.row0{
    top:10px;
}
.row1{
    top:120px;
}
.row2{
    top:230px;
}
.row3{
    top:340px;
}

.cell0{
    left:10px;
}
.cell1{
    left:120px;
}
.cell2{
    left:230px;
}
.cell3{
    left:340px;
}

span{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    background: #fff;
    font-size: 43px;
}


.num2{
    background: #faefe1;
    color:#000000;
    font-size: 100px;
}


.num2{
    background: #faefe1;
    color:#000000;
    font-size: 100px;
}

.num4{
    background: #c7b093;
    color: #000000;
    font-size: 100px;
}

.num8{
    background: #e86841;
    color:#FFFFFF;
    font-size: 100px;
}

.num16{
    background: #b83c16;
    color:#fff;
    font-size: 80px;
}

.num32{
    background: #db3a09;
    color: #FFF;
    font-size: 80px;
}

.num64{
    background: #a82700;
    color:#fff;
    font-size: 80px;
}

.num128{
    background: #fcfa51;
    color: #FFF;
    font-size: 52px;
}

.num256{
    background: #e0df46;
    color:#FFF;
    font-size: 52px;
}

.num512{
    background: #dbdb6e;
    color: #FFF;
    font-size: 52px;
}

.num1024{
    background: #99832c;
    color: #FFF;
    font-size: 52px;
}

.num2048{
    background: #00ff2f;
    color: #000000;
    font-size: 52px;
}

.num4096{
    background: #c300ff;
    color: #fff;
    font-size: 52px;
}

