body {
    background: yellow; 
        width: 800px;         /* Set the body width to 800 pixels */ 
    margin: 200px auto; 
} 
h1{
    background color: red;
    color: maroon; 
      text-align: center; 
} 
h2{
background color:red;
}
p  {
   color: #ff00ff;                    /* Set the foreground color to pink */ 
      border: 1px solid gray; 
      padding: 10px; 
} 
p.first {
     color: red; 
     margin: 10px; 
     padding: 20px;
} 
p.second {
     color: blue; 
     margin: 10px; 
     padding: 20px;
}
border: 5px solid darksalmon; 
border-radius: 10px; 
font-size: 1.2em;  


